.cont-main-tecnica-bestia {
  background-color: var(--primary);
  padding: 2em;
}

.cont-txt-bestia {
  width: 50%;
  margin: auto;
  color: var(--white);
  background-color: transparent;
  text-align: justify;
}

.cont-txt-bestia h2 {
  text-transform: uppercase;
  padding-bottom: 1em;
  text-align: left;
  font-size: 1.5em;
}

.cont-txt-bestia p:last-child {
  padding-bottom: 1em;
}

.cont-tecnica-bestia {
  text-align: center;
  color: var(--white);
}

.cont-tecnica-bestia h3 {
  margin-top: 2em;
  font-size: 1.5em;
  font-family: var(--semiBold);
}

.cont-tecnica-bestia span {
  font-family: var(--semiBold);
}

.cont-link-bestia {
  width: 100%;
  text-align: center;
  margin-top: 3em;
}

.cont-link-bestia a {
  display: inline-block;
  background-color: var(--secondary);
  margin: 10px;
  padding: 5px 5px;
  width: 250px;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
}

@media (max-width: 480px) {
  .cont-txt-bestia {
    font-size: 0.7em;
    text-align: start !important;
  }
  .cont-tecnica-bestia {
    font-size: 0.7em;
  }

  .cont-link-bestia {
    font-size: 0.7em;
  }
}
