.cont-main-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding-top: 400px;
}

.cont-pinches-top,
.cont-pinches-bottom {
  width: 100%;
  position: absolute;
}

.cont-pinches-top img,
.cont-pinches-bottom img {
  width: 100%;
}

.cont-pinches-top {
  top: 0;
}

.cont-pinches-bottom {
  bottom: 0;
  transform: rotate(180deg);
  z-index: -100;
}

.blue-hand1 {
  width: 350px;
  transform: rotate(60deg);
  position: absolute;
  left: 20px;
  top: 290px;
}

.blue-hand2 {
  width: 690px;
  transform: rotate(20deg);
  position: absolute;
  right: -150px;
  top: 490px;
}

.cont-logo-bio {
  width: 600px;
}

.cont-logo-bio img {
  width: 100%;
}

.cont-txt-bio {
  width: 50%;
  text-align: justify;
  font-family: var(--regular);
  color: var(--primary);
  margin: 140px 0 330px 0;
}

.cont-txt-bio h1 {
  font-size: 1em;
  font-family: var(--semiBold);
}

.cont-txt-bio p {
  font-size: 1.1em;
}

.cont-txt-bio p:last-child {
  font-family: var(--semiBold);
}

@media (max-width: 880px) {
  .cont-main-bio {
    padding-top: 240px;
  }

  .blue-hand1 {
    width: 250px;
    left: 0;
    top: 150px;
  }

  .blue-hand2 {
    width: 490px;
    right: -110px;
    top: 290px;
  }

  .cont-logo-bio {
    width: 360px;
  }

  .cont-txt-bio {
    width: 50%;
    margin: 140px 0 200px 0;
  }
}

@media (max-width: 480px) {
  .cont-main-bio {
    padding-top: 150px;
  }

  .blue-hand1 {
    width: 110px;
    left: 0px;
    top: 120px;
  }

  .blue-hand2 {
    width: 240px;
    right: -70px;
    top: 180px;
  }

  .cont-logo-bio {
    width: 210px;
  }

  .cont-txt-bio {
    width: 70%;
    margin: 120px 0 100px 0;
    font-size: 0.9em;
  }
}
