@font-face {
  font-family: Bold-font;
  src: url("./assets/fonts/SourceSerifPro-Bold.ttf");
}

@font-face {
  font-family: SemiBold;
  src: url("./assets/fonts/SourceSansPro-Semibold.ttf");
}

@font-face {
  font-family: Regular;
  src: url("./assets/fonts/SourceSansPro-Regular.ttf");
}

:root {
  --bold: Bold-font;
  --semiBold: SemiBold;
  --regular: Regular;
  --primary: #2c55a2;
  --secondary: #a21920;
  --third: #f8ac3f;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

main {
  max-width: 1440px;
}
